html {
    box-sizing: border-box;
    background-image: url('http://127.0.0.1:8000/media/oranges-in-a-box.jpg');
    
}


*,*::before,*::after {
        box-sizing: inherit;
    }

p {
    font-size: 16px;
}

.pageimg {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-left: 8px;
    box-sizing: content-box;
    border-radius: 16px;

}

.pagename {
    background-color: grey;

    margin-left: 12px;
    text-align: center;
    font-size: 24px;
    border-color: grey;
    box-shadow: 1px 1px 1px 1px yellow; 
}

.postimg {
    width: 60%;
    height: 60%;

}

p {
    font-size: 24px;
}
.post, .com {
    max-width: 90%;
    max-height: 20%;
    border-style: solid;
    font-size: 24px;
    border-color: black;
    border-radius: 16px;
    background-color: grey;
    margin: 10px;
    margin-left:5%;
    margin-right: 5%;
    padding:16px;
    justify-content: center;
    
}

.topbar {
    position: fixed;
    width: 100%;
    top: 0;

    background-color: rgb(79, 79, 79);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px

}

.body {
    text-overflow: ellipsis;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
}

.new {
    margin-top: 12%;
    background-color: grey;
    max-width: fit-content;
    display: block;
    justify-content: center;
    font-size: 24px;
    padding:10px;
    margin-left: 25%
       
}
.newcom {
    
    background-color: grey;
    max-width: fit-content;
    display: block;
    justify-content: center;
    font-size: 24px;
    padding:10px;
    margin-left: 25%
       
}
.new label {
    padding:5px
}

.searchbar {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.rate {
    display:flex;
    flex-direction: row;
    max-width: 15%;
    justify-content: left;
}

.rate button {
    margin-left: 5px;
    margin-right: 5px;
}

.box {
    margin-top: 12%
}
.options :hover {
    display:none;
}