{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'tachihome.css'%}">
    <title>Tachibana</title>
</head>
    <body>
    <div id='tachihome'>
        {% csrf_token %}
       
        <div class='topbar'>
            <button @click='loadhome'>Home</button>
            <div v-if='Object.keys(loadedpage).length'>
                <span v-if='loadedpage.top_image'><img class='pageimg' :src='loadedpage.top_image'><button class='pagename'  @click='loadpage(page)'>[[loadedpage.name]]</button></img>
            </div>
            <div v-if='Object.keys(loadedpost).length'>
                <span v-if='loadedpost.page_detail.top_image'><img class='pageimg' :src='loadedpost.page_detail.top_image'><button class='pagename'  @click='loadpage(loadedpost.page_detail)'>[[loadedpost.page_detail.name]]</button></img>
            </div>
            {% if user.is_authenticated %}
            <div>
                    <button @click='newpage = !newpage'>[[newpage ? 'Close New Page' : 'New Page']]</button>
                    <button @click='newpost = !newpost'>[[newpost ? 'Close New Post' : 'New Post']]</button>
                
            </div>
            
            <h1>Welcome&nbsp;{{ user.username }}!&nbsp;<a href="{% url 'logout' %}">Logout</a></h1>
            {% else %}
            <h1>Hello, Orange Inpersonator!</h1>
            <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
            {% endif %}
            <span v-if='Object.keys(errornotes).length'>apples</span>
            <div class='searchbar'>🔍
                <input type='text' v-model='searchbar'>
            </div>
        </div>

        <div class='new' v-if='newpage === true'>
            
                <label for='name'>Page Name</label><input v-model='newpageput.name' id='name' required='Required'></input><br>
                <span v-model='newpageput.home = 1'></span>
                <label for='purpose'>Page Purpose</label><input v-model='newpageput.purpose' id='purpose' required='Required'></input><br>
                <label for='image'>Page Image (Not Required)</label><input v-model='newpageput.top_image' id='image'></input><br>
                <button @click='newpagepost'>Submit</button>
            
        </div>
        
        <div class='new' v-if='newpost === true'>
            
                <label for='title'>Post Title</label><input v-model='newpostput.title' id='title' required='Required'></input><br>
                <span v-model='newpostput.author = {{user.id}}'></span>
                <label for='image'>Post Image (Not Required)</label><input v-model='newpostput.image_head' id='iamge'></input><br>
                <label for='body'>Post Body</label><input v-model='newpostput.body' id='body' required='Required'></input><br>
                <label for='page'>Related Page</label><select v-model='newpostput.page' id='page' required='Required'>
                    <option  v-for='page in home' :value='page.id' :key='page.id'>[[page.name]]</option>
                </select><br>               
                <button @click='newpostpost'>Submit</button>
            
        </div>

        

        <div class='box' v-if='Object.keys(home).length'>
            <div class='page' v-for='page in home'>
                <div class='post' v-for='post in page.post_detail'>
                    <span v-if='page.top_image'><img class='pageimg' :src='page.top_image' ></span><button class='pagename' @click='loadpage(page)'>[[page.name]]</button></img> <span v-if='post.author'> Posted by <span v-if='post.user_detail.username'><button @click='loadprofile(post.user_detail)'>[[post.user_detail.username]]</button></span>
                    <span v-if='post.title'><h1><button @click='loadpost(post)'>[[post.title]]</button></h1></span>
                    <span v-if='post.image_head'><img class='postimg' :src='post.image_head'></span>
                    <span v-if='post.body'><p class='body'>[[post.body]]</p></span>
                    <div class='postbot'>
                        <div class='rate'>{% if user.is_authenticated%}<button @click='postrateup(post)'>↑</button><p> {%else%}<p> Likes:{%endif%}[[post.rate]]</p>{% if user.is_authenticated%}<button @click='postratedown(post)'>↓</button>{%endif%}</div><div class='coms'><p></p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='box' v-if='Object.keys(loadedpage).length'>

            <div class='page'>
                <div class='post' v-for='post in loadedpage.post_detail'>
                    <span v-if='post.author'> Posted by <span v-if='post.user_detail.username'><button @click='loadprofile(post.user_detail)'>[[post.user_detail.username]]</button></span></span>
                    <span v-if='post.title'><h1><button @click='loadpost(post)'>[[post.title]]</button></h1></span>
                    <span v-if='post.image_head'><img class='postimg' :src='post.image_head'></span>
                    <span v-if='post.body'><p>[[post.body]]</p></span>
                    <div class='postbot'>
                    <div class='rate'>
                        {% if user.is_authenticated%}<button @click='postrateup(post)'>↑</button><p> {%else%}<p> Likes:{%endif%}[[post.rate]]</p>{% if user.is_authenticated%}<button @click='postratedown(post)'>↓</button>{%endif%}</div><div class='coms'><p></p></div>
                    </div>      
                </div>
            </div>
        </div>

        <div class='box' v-if='Object.keys(loadedpost).length'>
            <div class='page'>
                <div v-if='editcom === false'>
                    <div class='post' v-if='edit === true'>
                        <span v-if='loadedpost.author'> Posted by <span v-if='loadedpost.user_detail.username'><button @click='loadprofile(loadedpost.user_detail.username)'>[[loadedpost.user_detail.username]]</button></span></span><br>
                        <span v-if='loadedpost.title'><input type='text' v-model='loadedpost.title' placeholder='loadedpost.title'></span><br>
                        <input type='file' name='image_head' id='id_image_head' v-model='newimage' accept='image/*'>
                        <span v-if='loadedpost.image_head'><p>Old Image ↓</p><img class='postimg' :src='loadedpost.image_head'></span><br>
                        <span v-if='loadedpost.body'><input type='text' v-model='loadedpost.body' placeholder='loadedpost.body'></span><br>
                        <div class='rate'>
                            {% if user.is_authenticated%}<button @click='postrateup(loadedpost)'>↑</button><p> {%else%}<p> Likes:{%endif%}[[loadedpost.rate]]</p>{% if user.is_authenticated%}<button @click='postratedown(loadedpost)'>↓</button>{%endif%}
                            <button v-if='loadpost.author = {{user.id}}' @click='edit = !edit'>[[edit ? 'Close Edit' : 'Edit Post']]</button>
                            <button @click='editpost()'>Submit</button>
                        </div>
                    </div>
                </div>

                <div v-if='editcom === false'>
                    <div class='post' v-if='edit === false'>
                        <span v-if='loadedpost.author'> Posted by <span v-if='loadedpost.user_detail.username'><button @click='loadprofile(loadedpost.user_detail.username)'>[[loadedpost.user_detail.username]]</button></span></span>
                        <span v-if='loadedpost.title'><h1><a @click='loadedpost(post)'>[[loadedpost.title]]</a></h1></span>
                        <span v-if='loadedpost.image_head'><img class='postimg' :src='loadedpost.image_head'></span>
                        <span v-if='loadedpost.body'><span v-if='loadedpost.created != loadedpost.updated'><em>Edited</em></span> <p>[[loadedpost.body]]</p></span>
                        <div class='rate'>
                            {% if user.is_authenticated%}<button @click='postrateup(loadedpost)'>↑</button><p> {%else%}<p> Likes:{%endif%}[[loadedpost.rate]]</p>{% if user.is_authenticated%}<button @click='postratedown(loadedpost)'>↓</button>{%endif%}
                            {% if user.is_authenticated%}<button @click='newcomment= !newcomment'>[[newcomment? 'Close Comment Box':'New Comment']]</button>{%endif%}
                            <button v-if='loadpost.author = {{user.id}}' @click='edit = !edit'>[[edit ? 'Close Edit' : 'Edit Post']]</button>
                        </div>
                    </div>
                </div>
                <div class='newcom' v-if='newcomment === true'>
            
                    <span v-model='newpostcomment.author = {{user.id}}'></span>
                    <label for='body'>New Comment</label><input v-model='newpostcomment.body' id='body' required='Required'></input><br>
                    <span v-model='newpostcomment.post = loadedpost.id'></span>
                    <button @click='newcommentpost'>Submit</button>
                
                </div>

                <div v-if='editcom === true'>
                    <div v-if='loadedpost.com_detail' >
                        <div v-for='com in loadedpost.com_detail'>
                            <div class='com' v-if='com.user_detail.id = {{user.id}}'>
                                <button @click='loadprofile(com.user_detail)'>[[com.user_detail.username]]</button>
                                <input class='combody' v-model='com.body'>
                                <div class='rate'>
                                    <button v-if='com.author = {{user.id}}' @click='editcom = !editcom'>[[editcom ? 'Close Edit' : 'Edit Comment']]</button>
                                    <button @click='editcomment(com, loadedpost)'>Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if='editcom === false'>
                    <div v-if='loadedpost.com_detail' >
                        <div  v-for='com in loadedpost.com_detail'>
                            <div class='com'>
                                <button @click='loadprofile(com.user_detail)'>[[com.user_detail.username]]</button>
                                <span v-if='com.created != com.updated'><em>Edited</em></span><p class='combody'>[[com.body]]</p>
                                <div class='rate'>
                                    {% if user.is_authenticated%}<button @click='comrateup(com)'>↑</button><p> {%else%}<p> Likes:{%endif%}[[com.rate]]</p>{% if user.is_authenticated%}<button @click='comratedown(com)'>↓</button>{%endif%}
                                    <button v-if='com.author = {{user.id}}' @click='editcom = !editcom'>[[editcom ? 'Close Edit' : 'Edit Comment']]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            {% if user.is_authenticated %}
            <div class='fpage'></div>
            {% endif %}
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'tachihome.js'%}"></script>
    </body>
</head>